{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-runtime",
    "transform-decorators-legacy",
    "dynamic-import-webpack",
    "react-loadable/babel"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}